@media screen and (max-height: 500px) {
    #time {
        display:none;
    }
}

@media screen and (max-height: 300px) {
    #centered-bottom {
        display:none;
    }
}

@media screen and (max-height: 220px) {
    #centered-below{
        display:none;
    }
}


@media screen and (max-width: 480px) {
    #weather-toggle{
		   position:absolute;
		   top:60%;
		   left:50%;
		   color: white;
		   transform: translate(-12%, -0%);
			-webkit-transform: translate(-12%, -0%);
		   
		 }
		 
		#weather-panel{
			position:absolute;
			top:40px;
			right:10px;
			background-color:rgba(0,0,0,0.8);
			color: white;
			border-radius: 4px;
			height: 100px;
			width: 200px;
			padding: 5px;
			display: none;
		}

		#links-toggle{
		   position:absolute;
		   top:45%;
		   left:50%;
		   color: white;
		   transform: translate(-50%, -0%);
			-webkit-transform: translate(-50%, -0%);
		  }
		  
		#links-panel{
			position:absolute;
			top:48%;
			left:50%;
			background-color:rgba(0,0,0,0.8);
			color: white;
			border-radius: 4px;
			height: 100px;
			width: 200px;
			padding: 5px;
			display:none;
			transform: translate(-50%, -0%);
			-webkit-transform: translate(-50%, -0%);
		}

		#location-toggle{
		   position:absolute;
		   top:50%;
		   left:50%;
		   color: white;
		   transform: translate(-50%, -0%);
			-webkit-transform: translate(-50%, -0%);
		  }
		  
		#location-panel{
			position:absolute;
			bottom:40px;
			left:10px;
			background-color:rgba(0,0,0,0.8);
			color: white;
			border-radius: 4px;
			height: 100px;
			width: 200px;
			padding: 5px;
			display: none;
		}
		  
		#todos-toggle{
		   position:absolute;
		   top:55%;
		   left:50%;
		   color: white;
		   transform: translate(-10%, -0%);
			-webkit-transform: translate(-10%, -0%);
		  }

		#todos-panel{
			position:absolute;
			bottom:40px;
			right:10px;
			background-color:rgba(0,0,0,0.8);
			color: white;
			border-radius: 4px;
			height: 100px;
			width: 200px;
			padding: 5px;
			display: none;
		}
		 

		/* Centered text */
		#centered {
			margin: auto;
			text-align: center;
			vertical-align: middle;
			position: absolute;
			top:0;
			left: 50%;
			color:white;
			transform: translate(-50%, -0%);
			-webkit-transform: translate(-50%, -0%);
		}

		#time{
			font-size: 400%;
			padding-top: 10px;
			line-height: 0.75em;
			#display:none;
		}

		#greeting{
			font-size: 200%;
			padding: 0px;
			line-height: 0.75em;
		}


		#centered-below {
			margin: auto;
			text-align: center;
			vertical-align: middle;
			position: absolute;
			top: 20%;
			left: 50%;
			color:white;
			transform: translate(-50%, -0%);
			-webkit-transform: translate(-50%, -0%);
		}

		#today-todos{
			font-size: 180%;
			padding: 0px;
			line-height: 0.75em;
		}

		#today-todos-input{
			font-size: 180%;
			padding: 0px;
			line-height: 0.75em;
			border-bottom: 2px solid white;
		}

		#today-todos-input-text{
			background: transparent;
			border: none;
			font-size:24px;
			color:white;
			text-align:center;
			outline:0;
		}
		 
		#centered-bottom{
		   position:absolute;
		   bottom:20px;
		   left:50%;
		   color: white;
		   transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}

		#centered-bottom-quote{
			font-size: 120%;
			padding: 0px;
			line-height: 0.75em;
		}
}