/* line 48, ../sass/main.scss */
body, html {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/* line 53, ../sass/main.scss */
.bg {
  /* The image used */
  background-image: url("../img/background.jpg");
  /* Full height */
  height: 95%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 66, ../sass/main.scss */
#weather-toggle {
  top: 20px;
  right: 20px;
  color: white;
  position: absolute;
}

/* line 71, ../sass/main.scss */
#weather-panel {
  top: 40px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  height: 100px;
  width: 200px;
  padding: 5px;
  display: none;
  color: white;
  position: absolute;
}

/* line 77, ../sass/main.scss */
#links-toggle {
  top: 20px;
  left: 20px;
  color: white;
  position: absolute;
}

/* line 82, ../sass/main.scss */
#links-panel {
  top: 40px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  height: 100px;
  width: 200px;
  padding: 5px;
  display: none;
  color: white;
  position: absolute;
}

/* line 88, ../sass/main.scss */
#location-toggle {
  bottom: 20px;
  left: 20px;
  color: white;
  position: absolute;
}

/* line 93, ../sass/main.scss */
#location-panel {
  bottom: 40px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  height: 100px;
  width: 200px;
  padding: 5px;
  display: none;
  color: white;
  position: absolute;
}

/* line 99, ../sass/main.scss */
#todos-toggle {
  bottom: 20px;
  right: 20px;
  color: white;
  position: absolute;
}

/* line 104, ../sass/main.scss */
#todos-panel {
  bottom: 40px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  height: 100px;
  width: 200px;
  padding: 5px;
  display: none;
  color: white;
  position: absolute;
}

/* Centered text */
/* line 112, ../sass/main.scss */
#centered {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* line 121, ../sass/main.scss */
#time {
  font-size: 900%;
  padding: 0px;
  line-height: 0.75em;
  #display: none;
}

/* line 126, ../sass/main.scss */
#greeting {
  font-size: 220%;
  padding: 0px;
  line-height: 0.75em;
}

/* line 131, ../sass/main.scss */
#centered-below {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  top: 70%;
  left: 50%;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* line 140, ../sass/main.scss */
#today-todos {
  font-size: 180%;
  padding: 0px;
  line-height: 0.75em;
}

/* line 144, ../sass/main.scss */
#today-todos-input {
  font-size: 180%;
  padding: 0px;
  line-height: 0.75em;
  border-bottom: 2px solid white;
}

/* line 149, ../sass/main.scss */
#today-todos-input-text {
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  text-align: center;
  outline: 0;
}

/* line 158, ../sass/main.scss */
#centered-bottom {
  bottom: 20px;
  left: 50%;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* line 164, ../sass/main.scss */
#centered-bottom-quote {
  font-size: 120%;
  padding: 0px;
  line-height: 0.75em;
}

@media screen and (max-height: 500px) {
  /* line 169, ../sass/main.scss */
  #time {
    display: none;
  }
}
@media screen and (max-height: 300px) {
  /* line 175, ../sass/main.scss */
  #centered-bottom {
    display: none;
  }
}
@media screen and (max-height: 220px) {
  /* line 181, ../sass/main.scss */
  #centered-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 188, ../sass/main.scss */
  #weather-toggle {
    top: 60%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-12%, 0%);
    -webkit-transform: translate(-12%, 0%);
  }

  /* line 194, ../sass/main.scss */
  #weather-panel {
    top: 40px;
    right: 10px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    height: 100px;
    width: 200px;
    padding: 5px;
    display: none;
  }

  /* line 200, ../sass/main.scss */
  #links-toggle {
    top: 45%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }

  /* line 206, ../sass/main.scss */
  #links-panel {
    top: 48%;
    left: 50%;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    height: 100px;
    width: 200px;
    padding: 5px;
    display: none;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }

  /* line 213, ../sass/main.scss */
  #location-toggle {
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }

  /* line 219, ../sass/main.scss */
  #location-panel {
    top: 40px;
    left: 10px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    height: 100px;
    width: 200px;
    padding: 5px;
    display: none;
  }

  /* line 225, ../sass/main.scss */
  #todos-toggle {
    top: 55%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-10%, 0%);
    -webkit-transform: translate(-10%, 0%);
  }

  /* line 231, ../sass/main.scss */
  #todos-panel {
    bottom: 40px;
    right: 10px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    height: 100px;
    width: 200px;
    padding: 5px;
    display: none;
  }

  /* Centered text */
  /* line 239, ../sass/main.scss */
  #centered {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }

  /* line 248, ../sass/main.scss */
  #time {
    font-size: 400%;
    padding: 10px;
    line-height: 0.75em;
  }

  /* line 252, ../sass/main.scss */
  #greeting {
    font-size: 200%;
    padding: 0px;
    line-height: 0.75em;
  }

  /* line 256, ../sass/main.scss */
  #centered-below {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    top: 20%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
  }

  /* line 265, ../sass/main.scss */
  #today-todos {
    font-size: 180%;
    padding: 0px;
    line-height: 0.75em;
  }

  /* line 269, ../sass/main.scss */
  #today-todos-input {
    font-size: 180%;
    padding: 0px;
    line-height: 0.75em;
    border-bottom: 2px solid white;
  }

  /* line 274, ../sass/main.scss */
  #today-todos-input-text {
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    text-align: center;
    outline: 0;
  }

  /* line 283, ../sass/main.scss */
  #centered-bottom {
    bottom: 20px;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* line 289, ../sass/main.scss */
  #centered-bottom-quote {
    font-size: 120%;
    padding: 0px;
    line-height: 0.75em;
  }
}
